<!DOCTYPE html>
<html><br>
    <style>
        h5{
            color: red;
        }
    </style>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    <form method="POST" action="register.html"><br>
        {% csrf_token %} 
        <label for="username">Username: </label><br>
        <input type="text" name="username"><br>
        <label for="email">Email: </label><br>
        <input type="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password"><br>
        <label for="reppass">Repeat Password:</label><br>
        <input type="password" name="reppass"><br>
        <input type="submit"><br>

    </form>
</html>